NOTIFICATION_SERVICE_EXTERNAL_PORT=8000
ORDER_SERVICE_EXTERNAL_PORT=8001
PAYMENT_SERVICE_EXTERNAL_PORT=8002
PRODUCT_SERVICE_EXTERNAL_PORT=8003
USER_SERVICE_EXTERNAL_PORT=8004

NOTIFICATION_SERVICE_PORT=8000
ORDER_SERVICE_PORT=8000
PAYMENT_SERVICE_PORT=8000
PRODUCT_SERVICE_PORT=8000
USER_SERVICE_PORT=8000

PRODUCT_DB_EXTERNAL_PORT=3000
PAYMENT_DB_EXTERNAL_PORT=3001
USER_DB_EXTERNAL_PORT=3002
ORDER_DB_EXTERNAL_PORT=3003

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo

NOTIFICATION_SERVICE_URL="http://notification-service:8000/api/notifications"
PAYMENT_SERVICE_URL="http://payment-service:8000/api/payments"
PRODUCT_SERVICE_URL="http://product-service:8000/api/products"
USER_SERVICE_URL="http://user-service:8000/api/users"

PRODUCT_DB_CONNECTION_URL="postgresql://postgres:postgres@product-db:5432/postgres?schema=public"
PAYMENT_DB_CONNECTION_URL="postgresql://postgres:postgres@payment-db:5432/postgres?schema=public"
USER_DB_CONNECTION_URL="postgresql://postgres:postgres@user-db:5432/postgres?schema=public"
ORDER_DB_CONNECTION_URL="mongodb://mongo:mongo@order-db:27017/local?authSource=admin"

INFLUX_DB_EXTERNAL_PORT=3004
GRAFANA_EXTERNAL_PORT=3005
RABBITMQ_MQTP_EXTERNAL_PORT=3006
RABBITMQ_UI_EXTERNAL_PORT=3007
KAFKA_EXTERNAL_PORT=3008
KAFKA_UI_EXTERNAL_PORT=3009

RABBITMQ_CONNECTION_URL=amqp://admin:admin@rabbitmq:5672
KAFKA_CONNECTION_URL=kafka:9092
KAFKA_BROKERS=kafka:9092

REDIS_PORT=6379
REDIS_URL=redis://redis:6379

KONG_PROXY_PORT=8005
KONG_ADMIN_PORT=8006
